name: Build and Publish
on:
  push:
    branches:
      - master
    paths-ignore:
      - "*.md"
      - "docs/**"
      - "examples/**"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          
      - name: Set outputs
        id: vars
        run: echo "::set-output name=sha_short::$(git rev-parse --short HEAD)"
      
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v2
        
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3.0.0
        
      - name: Login to Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - id: string
        uses: ASzc/change-string-case-action@v5
        with:
          string: ${{ github.repository }}
      
      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v4.2.0
        with:
          platforms: linux/amd64
          push: true
          tags: |
            ghcr.io/${{ steps.string.outputs.lowercase }}:${{ steps.vars.outputs.sha_short }}
            ghcr.io/${{ steps.string.outputs.lowercase }}:latest
          pull: true
